body {
    background-color:lightgoldenrodyellow;
}

.listButton {
    margin-right:10px;
}

.item {
    margin-top:15px;
}

.jumbotron {
    text-align:center;
    background-color:rgb(199, 199, 148);
}

#gif-container {
    text-align:center;
    background-color:rgb(121, 121, 49);
    padding-top:10px;
}

input {
    margin-bottom:10px;
}